*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif ;
    font-weight: 400px ;
    
}

.codefooter{

    display: inline-block;
    width: 100%;
}
.codefooter .address{
    background-color: rgb(244, 245, 248); 
    

    height: 90px;
    margin-top: 300px;
    

}
.codefooter .address p{
   text-align: center;
   padding-top: 35px;
   
   
}
.nom{
    text-decoration: none;
    color: black;
    font-weight: bold;
    line-height: 24px;
}

.address p{
    color: black;
    font-weight: 100px;
}

.link{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 30px;
}

.link .word p{
   margin-left: 50px;
}

.link .img  {
 margin: 0 auto;

}

.word p{
color: black;
}
.iconn
{
display: inline-block;
margin-right: 50px;



}
.icon a{
    color: black;
}
.iconn:hover{
   
    position: relative;
    animation: mymove 10s infinite;


}
@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }